:root {
  --background-color: #004d99;
  --text-color: #e5f6f3;
  --submit-color: #28a745;
  --submit-hover-color: #218838;
  --background-gradient: linear-gradient(135deg, #3E62B4 0%, #8ba1b7e4 100%);
  --border-color: #1a3a5a;
  --border-focus-color: #025fc3;
  --alert-bg: #f9c2c2;
  --alert-border: #f5c2c7;
  --alert-text: #721c24;
  --font: 'B Nazanin', sans-serif;
}

@font-face {
  font-family: 'B Nazanin';
  src: url('./fonts/Nazaninb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.datatable {
  width: 90%;
  margin: 5vh auto;
  background: var(--background-gradient);
  border-radius: 20px;
  box-shadow: 2px 5px 10px rgba(5, 2, 15, 0.3);
  overflow-x: auto;
  direction: rtl; /* Ensure RTL layout */
  padding: 20px;
  font-family: var(--font);
}

/* General table styles */
.custom-table {
  width: 80vw;
  border-radius: 20px;
  margin: auto;
  border-collapse: collapse; /* Collapsed borders for smooth edges */
  overflow: hidden; /* Ensures the rounded corners take effect */
  font-size: 16px;
  padding: 10px;
  border: transparent;
  margin-bottom: 15px;
}

.custom-table th, .custom-table td {
  border: 1px black; /* Remove individual cell borders */
  padding: 5px; /* Add padding for cleaner cell spacing */
  text-align: center;
  vertical-align: middle;
  min-width: max-content;
  
}
.custom-table.form-table th, .custom-table.form-table td  {
  min-width: fit-content;
  font-size: 12px;
}

.form-control {
  font-size: inherit;
}

.custom-table thead {
  border: 5px solid transparent;
  border-style: none;
}

.custom-table thead th:hover {
  background-color: #d1e9ff; /* Change background on hover */
}

/* Button group for edit mode */
.button-group {
  display: flex;
  justify-content: space-evenly;
}

/* Button styles */
button {
  font-size: 14px;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
}

.save-button {
  background-color: #28a745; /* Green color for save button */
  border: none;
}

.save-button:hover {
  background-color: #218838; /* Darker green on hover */
}

button[variant="warning"] {
  background-color: #ffc107;
  padding: 5px 10px; /* Add some padding */
}


button[variant="warning"]:hover {
  background-color: #e0a800;
}

/* Editing input field */
.edit-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
}

.parent-container {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically (optional) */
  width: 100%; /* Ensure the container takes the full width */
  height: 100%; /* Ensure the container takes the full height (optional) */
}

.input-group-special {
  display: flex;
  flex-direction: column; /* Stack label and select vertically */
  align-items: center; /* Center items horizontally */
  width: 45%; /* Set a fixed width */
  min-width: 200px;
  margin: 20px auto; /* Center the input group in the parent container */
  box-shadow: 1px 5px 8px rgba(51, 77, 143, 0.652); /* Subtle shadow */
  border-radius: 14px; /* Rounded corners */
  background-color: #e7e8ef30; /* Light background */
  padding: 15px; /* Inner padding for spacing */
  border: 1px solid #cdcfdfe0; /* Light border */
  font-size: 22px;
}

form input, form textarea, select {
  width: 95%;
  max-width: 500px;
  margin: 5px 0;
  border: 3px solid var(--border-color);
  border-radius: 15px;
  outline: none;
  transition: border-color 0.2s ease;
  direction: rtl;
  text-align: center;
  font-family: var(--font);
  font-size: 18px;
  padding: 8px;
  box-sizing: border-box;
}

.input-group-special label {
  font-size: 27px; /* Larger font size for the label */
  font-weight: 1000;
  color: #ffffff; /* Dark blue color for the label */
  margin-bottom: 10px; /* Space between label and select */
  text-align: center; /* Center the text of the label */
  width: 100%; /* Ensure the label takes full width to center correctly */
}

.input-group-special select {
  font-size: 22px;
  border: 4px rgb(0, 0, 0);
  border-radius: 11px;
}

/* Optional: Change color on hover */
.input-group-special select:hover {
  border-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Optional: Style the dropdown when it's focused */
.input-group-special select:focus {
  outline: none; /* Remove outline */
  border-color: #003366; /* Change border color when focused */
  box-shadow: 0 0 5px rgba(0, 51, 102, 0.5); /* Subtle shadow on focus */
}

/* Alert Styles */
.alert {
  display: none; /* Hidden by default, can be shown when needed */
  background-color: var(--alert-bg);
  border: 1px solid var(--alert-border);
  color: var(--alert-text);
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Space between buttons */
  align-items: center;
  width: 100%; /* Full width of the row */
  margin: 10px 0px 25px 0px;
}

.center-button {
  flex-grow: 1; /* This ensures the "plus" button stays centered */
  display: flex;
  justify-content: center; /* Centers the plus button within the container */
  margin-left: 10px; /* Optional: Add left margin for spacing */
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  width: auto;
  direction: ltr;
}

.Pdf-button {
  background-color: #d01;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: 1px rgba(111, 0, 0, 0.723) solid;
  border-radius: 5px;
  font-size: 20px;
}

.Pdf-button:hover {
  background-color: #901;
  border: 1px rgba(60, 0, 0, 0.723) solid;
  transform: scale(1.1);
}
.Excel-button {
  background-color: #191;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: 1px rgba(0, 111, 2, 0.723) solid;
  border-radius: 5px;
  font-size: 20px;
}

.Excel-button:hover {
  background-color: #161;
  border: 1px rgba(0, 60, 1, 0.723) solid;
  transform: scale(1.1);
}

/* Plus button styles */
.plus-button {
  background-color: var(--submit-color);
  color: white;
  border: 1px solid rgba(0, 0, 1, 0.414);
  border-radius: 10px;
  font-size: 25px;
  width: 27vw;
}

.plus-button:hover {
  background-color: var(--submit-hover-color);
  border: 1px black solid;
  transform: scale(1.1);
}

.plus-button:active {
  background-color: var(--submit-hover-color);
}

.Add-button {
  background-color: #4caf50; /* Green background */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding around the text */
  font-size: 16px; /* Font size */
  border: 1px solid green; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
  width: 85px;
}

.Add-button:hover {
  background-color: #1f7d24; /* Darker green on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

.Add-button:active {
  transform: scale(0.95); /* Slightly decrease size when pressed */
}

/* Styles for the button when it's in the "cancel" state */
.cancel-button {
  background-color: #da110a; /* Red background */
  color: white; /* White text */
  border: 1px solid rgb(110, 0, 0);
  padding: 10px 20px;
  width: 85px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.cancel-button:hover {
  background-color: #a11914; /* Darker red on hover */
  transform: scale(1.05);
  border: 1px solid rgb(110, 0, 0);
}

.cancel-button:active {
  transform: scale(0.95);
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 1040px) {
  .custom-table {
      font-size: 16px;
      width: 90vw;
  }
  th, td {
      padding: 8px;
  }
  .datatable {
    margin-right: -2.5vw;
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .custom-table {
    font-size: 12px;
  }
}
