:root{

}


@font-face {
  font-family: 'B Nazanin';
  src: url('\\fonts\\Nazaninb.ttf') format('truetype'); /* Path relative to the public directory */
  font-weight: normal; /* or bold, depending on the font weight */
  font-style: normal; /* or italic, if applicable */
}

#root {
  font-family: 'B Nazanin', sans-serif;
  font-size: 16px;
  margin-bottom: 10vh;
}

h1 {
  font-size: 40px;
}

.form-container {
  width: 90vw;
  padding: 20px;
  background-color: #222222;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  direction: rtl; /* Set the direction to RTL */
  color: #fff;
  
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

form h2 {
  text-align: center;
  width: 100%;
  direction: rtl; /* RTL direction for heading */
}

.input-group {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.input-group.date {
  width: 40vw;
}

.input-group.time {
  width: 40vw;
}

.input-group.auto {
  width: 30%;
}

.auto-container {
  width: 100%;
  display: flex;
}


form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  direction: rtl; /* RTL direction for labels */
  text-align: right; /* Align the text to the right */
}

form input, form textarea, select {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
  direction: rtl; /* Set the text inside input fields to RTL */
  text-align: right; /* Align text inside inputs to the right */
}

select {
  width: calc(80% + 22px);
}

input:focus, textarea:focus {
  border-color: #007bff;
}

textarea {
  resize: vertical;
  height: 100px;
}

.submit-btn {
  width: 100%;
  background-color: #007bff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'B Nazanin', sans-serif;
  font-size: 24px;
  color: #fff;
  
  
}

.submit-btn:hover {
  background-color: #0056b3;
}
